# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# builds
dist/
.next/
out/
build/

# contracts
artifacts/
cache/
typechain-types/

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
coverage/